<h1>Article Details</h1>
<p>
    <strong>Name</strong> : <%= @article.name %> <br>
    <strong>Description</strong> : <%= @article.description %> <br>
    <strong>Price</strong> : <%= @article.price %> 
</p>